In [1]:
%load_ext autoreload
%autoreload 2

import json
import os
import pandas as pd
import papermill as pm
import scrapbook as sb
import uuid

pd.set_option('display.max_colwidth', None)

In [2]:
project_folder = "diygenomics-projects"
sub_category = "DATA"
work_bucket = "genomes"

input_file = 'citizen_1_short_23andme.csv'

In [3]:
data_path = os.getenv('DATA_PATH')
file_path = lambda *args: os.path.join(data_path, project_folder, sub_category, work_bucket, *args)

In [12]:
df = pd.read_csv(file_path(input_file), skiprows=range(19))

/var/folders/7_/yy9g2__x67z57sxy1p8rztph0000gn/T/ipykernel_29834/4041971468.py:1: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path(input_file), skiprows=range(19))

In [26]:
len(df)

963047

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 963047 entries, 0 to 963046
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   # rsid      963047 non-null  object
 1   chromosome  963047 non-null  object
 2   position    963047 non-null  int64
 3   genotype    963047 non-null  object
dtypes: int64(1), object(3)
memory usage: 29.4+ MB

In [18]:
df.describe()

           position
count  9.630470e+05
mean   7.713291e+07
std    5.647627e+07
min    3.000000e+00
25%    3.056437e+07
50%    6.744920e+07
75%    1.137586e+08
max    2.492190e+08

In [19]:
df['# rsid'].value_counts()

# rsid
rs4477212     1
rs10743368    1
rs10505866    1
rs3943606     1
rs1025949     1
             ..
rs1422853     1
rs7720413     1
rs889055      1
rs13355113    1
i4000759      1
Name: count, Length: 963047, dtype: int64

In [20]:
df['chromosome'].value_counts()

chromosome
2     77427
1     77016
3     63330
6     63269
5     56048
4     55049
7     51032
10    50350
8     49234
11    47988
12    47178
9     42982
13    36110
14    30860
16    30188
15    28419
18    27979
17    26770
X     26008
20    23849
19    18591
22    13699
21    13413
MT     3930
Y      1906
22      422
Name: count, dtype: int64

In [21]:
df.isnull().sum()

# rsid        0
chromosome    0
position      0
genotype      0
dtype: int64

In [23]:
pd.crosstab(df['# rsid'], df['chromosome'])

chromosome,1,2,3,4,5,6,7,8,9,10,...,17,18,19,20,21,22,22,MT,X,Y
# rsid,,,,,,,,,,,,,,,,,,,,,
i1000001,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
i1000009,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
i1000010,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
i1000015,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
i2000003,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
rs9999955,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
rs9999963,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
rs9999966,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
rs9999979,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
rs9999992,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [24]:
df['genotype'].unique()

array(['AA', 'AG', 'GG', 'CC', 'AC', 'CT', 'TT', 'GT', '--', 'AT', 'CG',
       'II', 'DD', 'DI', 'T', 'A', 'G', 'C', 'I'], dtype=object)